In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode, col, count, desc, from_json , max
from pyspark.sql.types import ArrayType, StringType, StructType, StructField

spark = SparkSession.builder \
    .appName("TMDB Data Aggregation") \
    .getOrCreate()

data = spark.read.option('header','true').option("escape", "\"").csv('tmdb_5000_movies.csv')

data.show(5)

+---------+--------------------+--------------------+------+--------------------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+------------+----------+-------+--------------------+--------+--------------------+--------------------+------------+----------+
|   budget|              genres|            homepage|    id|            keywords|original_language|      original_title|            overview|popularity|production_companies|production_countries|release_date|   revenue|runtime|    spoken_languages|  status|             tagline|               title|vote_average|vote_count|
+---------+--------------------+--------------------+------+--------------------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+------------+----------+-------+--------------------+--------+--------------------+--------------------+------------+----------+
|        0|[{"id": 28, "name...|                NULL| 11891|[{"id": 1465, "na...|               en|Kung Pow: Enter t...|A movie within a ...|  8.288813|[{"name": "Twenti...|[{"iso_3166_1": "...|  2002-01-25|         0|     81|[{"iso_639_1": "e...|Released|                NULL|Kung Pow: Enter t...|         6.1|       159|
|237000000|[{"id": 28, "name...|http://www.avatar...| 19995|[{"id": 1463, "na...|               en|              Avatar|In the 22nd centu...|150.437577|[{"name": "Ingeni...|[{"iso_3166_1": "...|  2009-12-10|2787965087|    162|[{"iso_639_1": "e...|Released|Enter the World o...|              Avatar|         7.2|     11800|
|300000000|[{"id": 12, "name...|http://disney.go....|   285|[{"id": 270, "nam...|               en|Pirates of the Ca...|Captain Barbossa,...|139.082615|[{"name": "Walt D...|[{"iso_3166_1": "...|  2007-05-19| 961000000|    169|[{"iso_639_1": "e...|Released|At the end of the...|Pirates of the Ca...|         6.9|      4500|
|245000000|[{"id": 28, "name...|http://www.sonypi...|206647|[{"id": 470, "nam...|               en|             Spectre|A cryptic message...|107.376788|[{"name": "Columb...|[{"iso_3166_1": "...|  2015-10-26| 880674609|    148|[{"iso_639_1": "f...|Released|A Plan No One Esc...|             Spectre|         6.3|      4466|
|250000000|[{"id": 28, "name...|http://www.thedar...| 49026|[{"id": 849, "nam...|               en|The Dark Knight R...|Following the dea...| 112.31295|[{"name": "Legend...|[{"iso_3166_1": "...|  2012-07-16|1084939099|    165|[{"iso_639_1": "e...|Released|     The Legend Ends|The Dark Knight R...|         7.6|      9106|
+---------+--------------------+--------------------+------+--------------------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+------------+----------+-------+--------------------+--------+--------------------+--------------------+------------+----------+
only showing top 5 rows

In [ ]:
import subprocess
# Local file path
local_file_path = "tmdb_5000_movies.csv"

# HDFS directory where you want to store the file
hdfs_directory = "/path/to/hdfs/directory/"

# Use subprocess to execute the Hadoop command to copy the file to HDFS
subprocess.run(["hadoop", "fs", "-put", "tmdb_5000_movies.csv", hdfs_directory])

In [2]:
popular_films = data.groupBy("original_language") \
    .agg(max("popularity").cast('decimal(10,2)').alias("max_popularity")) \
        .orderBy(desc('max_popularity'))
    
popular_films.toPandas().to_csv("popular_film_per_lan.csv", index=False)
popular_films.show(10)

+-----------------+--------------+
|original_language|max_popularity|
+-----------------+--------------+
|               en|         99.69|
|               es|         90.81|
|               it|         88.38|
|               el|         28.86|
|               te|         16.25|
|               he|         14.08|
|               pl|         13.27|
|               nb|         12.98|
|               no|         11.21|
|               zh|          9.95|
+-----------------+--------------+
only showing top 10 rows

In [3]:
genre_schema = ArrayType(StructType([
    StructField("id", StringType(), True),
    StructField("name", StringType(), True)
]))

df_parsed = data.withColumn("genres_array", from_json(col("genres"), genre_schema))

df_exploded = df_parsed.withColumn("genre", explode(df_parsed["genres_array"]))

genres_aggregated = df_exploded.groupBy("genre.id", "genre.name") \
    .agg(count("id").alias("number_of_movies")).orderBy(desc('number_of_movies'))

genres_aggregated.toPandas().to_csv("Genres_Agggregations.csv", index=False)

genres_aggregated.show(5)

+-----+--------+----------------+
|   id|    name|number_of_movies|
+-----+--------+----------------+
|   18|   Drama|            2297|
|   35|  Comedy|            1722|
|   53|Thriller|            1274|
|   28|  Action|            1154|
|10749| Romance|             894|
+-----+--------+----------------+
only showing top 5 rows